{% extends "layout.html" %}

{% block styles %}
{{ super() }}

<style>   
.zoom-marker-navigator{
        width: 100%;
        margin: 10px;
        text-align: center;
    }
.zoom-marker-div{
width:100%;
margin:auto auto auto auto;
height:500px;
overflow:hidden;
position: relative;
background-color: gainsboro;
}
</style>

{% endblock %}


{% block app_content %}
<div class='container-fluid'>
   <div class='row align-items-center'>
      {% if obs_type == "T" %}
      <div class='col-sm-3 col-md-3 col-lg-3'>
      </div>
      {% else %}
      <div class='col-sm-6 col-md-6 col-lg-6'>
         <button class="collapsible">Image</button>
         {% if action == "E" %}
         <div class="mx-auto my-auto">
            <img class="img-responsive mw-100" id="myImage"  src="{{url_for('get_obs_image')}}">
         </div>
         {% else %}
         {% if obs_type == "P" %}
         <div class="mx-auto my-auto">
            <img class="img-responsive mw-100" id="myImage"  src="{{url_for('get_obs_image')}}">
         </div>
         {% endif %}
         {% endif %}
      </div>
      {% endif %}
      <div class='col-sm-6 col-md-6 col-lg-6' position: relative>
         <div id = 'collapsible-map'>
            <button class="collapsible">Map</button>
            <div id="zoom-marker-div" class="zoom-marker-div">
               <img class="zoom-marker-img" id="zoom-marker-img-alt" alt="zoom-marker-img-alt" name="zoom-marker-img-alt"  draggable="false"/>
            </div>
         </div>
         <form action="" method="post" class='form-horizontal'>
         {{ form.hidden_tag() }}
         <div class="form-group">
            <div class="col-sm-2">{{ form.x_coord.label }}</div>
            <div class=" col-sm-4">{{ form.x_coord(class="form-control") }}</div>
            <div class="col-sm-2">{{ form.y_coord.label }}</div>
            <div class=" col-sm-4">{{ form.y_coord(class="form-control") }}</div>
         </div>
         <div class="form-group ">
            <div class="col-sm-2">{{ form.comment.label }}</div>
            <div class="col-sm-10">{{ form.comment(class="form-control") }}</div>
         </div>
         <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
               <input class="btn btn-danger" type="submit" value="Cancelar" onclick="goBack()">
               <input class="btn btn-primary pull-right" id="submit" name="submit" type="submit" value="Salvar">
            </div>
         </div>
      </div>
   </div>
</div>
</div>

{# so far all html #}
{% endblock %}

{# and now the js#}
{% block app_scripts%}
{{ super() }}

<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.mousewheel.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/hammer.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/zoom-marker.min.js')}}"></script>
<script>

/* Routines to manage collapsible sections */
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        var content = this.nextElementSibling;
        if (content.style.display === "none") {
            content.style.display = "block";
        } else {
            content.style.display = "none";
        }
    });
}

const  icons = [
                    "{{ url_for('static', filename = 'images/blueCameraIcon.png') }}",
                    "{{ url_for('static', filename = 'images/greenCameraIcon.png') }}",
                    "{{ url_for('static', filename = 'images/orangeCameraIcon.png') }}",
                    "{{ url_for('static', filename = 'images/redCameraIcon.png') }}"
                ]
// initialize zoomable image with markers

var last_marker_id = -1

var initImg = function(item) {

  // handle "TAP" event and add marker to image
  item.on("zoom_marker_mouse_click", function(event, position) {
    console.log("Mouse click on: " + JSON.stringify(position));
    document.getElementById('x_coord').value = position.x
    document.getElementById('y_coord').value = position.y
    // remove last marker
    if(last_marker_id != -1){
        item.zoomMarker_RemoveMarker(last_marker_id);
    }

    const marker = item.zoomMarker_AddMarker({
      src: "{{ url_for('static', filename = 'images/red_flag_icon.png') }}",
      x: position.x,
      y: position.y,
      size: 30,
      dialog: {}
    });
    last_marker_id = marker.id
  });

    // listen to marker click event, print to console and delete the marker
    item.on("zoom_marker_click", function(event, marker){
        console.log(JSON.stringify(marker));
    });

  // message for the beginning of image loading process
  item.on("zoom_marker_img_load", function(event, src) {
    console.log("loading started for image : " + src);
  });

  // message for image loaded
  item.on("zoom_marker_img_loaded", function(event, size) {
    console.log("image has been loaded with size: " + JSON.stringify(size));
  });

  // message after at the end of Maker moving action
  item.on("zoom_marker_move_end", function(event, position) {
    console.log("Marker moving ended on :" + JSON.stringify(position));
  })
}

function loadPlan() {

  $('#zoom-marker-img-alt').zoomMarker({
      src: "{{ url_for('get_plan_image')}}",
      rate: 0.2,
      max: 5000,
      width: 700,
      markers: []
    });
    initImg($('#zoom-marker-img-alt'));
  /*
  $.getJSON($SCRIPT_ROOT + '/get_obs_json_list', {
    plan_code: plan_code
  }, function(data) {
    var markers = []

    $.each(data.features, function(i, value) {
      // build markers
      var geom = value.geometry
      const marker = {
        src: icons[value.properties.sev],
        x: geom.coordinates[0],
        y: geom.coordinates[1],
        incident_id: value.properties.dbid,
        size:25,
        dialog: {
          "value": value.properties.info,
          "offsetX": 20,
          "style": {
            "border-color": "#000000"
          }
        }

      }
      markers.push(marker)
    }) // $.each
  })*/
}

$(document).ready(function() {

  //Load image
  loadPlan();
  initImg($('#zoom-marker-img-alt'));
})

</script>


{% endblock %}