{% extends "layout.html" %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/zoom-marker1.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/easy-loading.css')}}">
<style type="text/css">

.zoom-marker-navigator{
width: 100%;
margin: 10px;
text-align: center;
}
.zoom-marker-div{
width:100%;
margin:auto auto auto auto;
height:900px;
overflow:hidden;
position: relative;
background-color: gainsboro;
}
div.b {
background-color: gainsboro;
}

table { 
  width: 650px;
  border-collapse: collapse; 
  margin:20px auto;
  }

th { 
  background: gainsboro;
  color: white; 
  font-weight: bold; 
  }

td, th { 
  height: 20px; 
  text-align: left; 
  
   padding: 2px;
   padding-left: 10px;
  border-bottom: 1px solid #ddd;
  }

.labels tr td {
  background-color:LightGrey;
  font-weight: bold;
  color: #fff;
}

.label tr td label {
  display: block;
}


[data-toggle="toggle"] {
  display: none;
}


</style>

{% endblock %}
{% block app_content %}

<div class="container-fluid">
  <div class="row align-items-center">
    <div class='col-sm-8 col-md-8 col-lg-8'> 
      <div id="zoom-marker-div" class="zoom-marker-div">
            <img class="zoom-marker-img" id="zoom-marker-img-alt" alt="zoom-marker-img-alt" name="zoom-marker-img-alt"  draggable="false"/>
      </div>
  </div>
    <div class='col-sm-4 col-md-4 col-lg-4'> 
        <label> <h3>Observaciones</h3></label><br>
        <div id="task_checkboxes">

        {% for task in tasks %}
        <li><label> <input type="checkbox" value = "{{ task.id }}" id = "{{ task.id }}" onclick="checkObsDisplay()" checked>
        {{ task.name }}</label></li>
        {% endfor %}
      </div>
       <div class="form-group ">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-4">
            <button class="btn btn-primary" onclick ="getReport()">Informe</button>
            <!--button onclick="getObsRecords">Clear</button--> 
          </div>
        </div>
      </div>
    </div>
</div>


{# so far all html #}
{% endblock %}

{# and now the js#}
{% block app_scripts%}
{{ super() }}


<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.mousewheel.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/hammer.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/zoom-marker.min.js')}}"></script>


<script>
/* Routines to manage collapsible sections */
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        var content = this.nextElementSibling;
        if (content.style.display === "none") {
            content.style.display = "block";
        } else {
            content.style.display = "none";
        }
    });
}



function checkObsDisplay() {
    // gestioanr observaciones
}


const icons = [
    "{{ url_for('static', filename = 'images/blueCameraIcon.png') }}",
    "{{ url_for('static', filename = 'images/greenCameraIcon.png') }}",
    "{{ url_for('static', filename = 'images/orangeCameraIcon.png') }}",
    "{{ url_for('static', filename = 'images/redCameraIcon.png') }}"
]

var markers = []

function getObsRecords() {

    for (marker in markers) {
        $('#zoom-marker-img').zoomMarker_RemoveMarker(marker.id);
    }

    $('#zoom-marker-img').zoomMarker_RemoveMarker(marker.id);
    // get observations from server and build markers structure
    $.getJSON($SCRIPT_ROOT + '/get_obs_json_list', {
        task_id: -1
    }, function(data) {
        $.each(data.features, function(i, value) {
            // build markers
            var geom = value.geometry
            const marker = {
                src: icons[value.properties.sev],
                x: geom.coordinates[0],
                y: geom.coordinates[1],
                incident_id: value.properties.dbid,
                size: 25,
                dialog: {
                    "value": value.properties.info,
                    "offsetX": 20,
                    "style": {
                        "border-color": "#000000"
                    }
                }
            }
            markers.push(marker)
        }) // $.each
        console.log("Markers retrieved")
    })
}



/******************* init navigator button, no need for users' initialization *********************/
var picTag = 0;
var tagNumber = 1;

// init item
var initImg = function(item) {

    // listen to marker click event, print to console and delete the marker
    item.on("zoom_marker_click", function(event, marker) {
        console.log(JSON.stringify(marker));
        //$('#zoom-marker-img').zoomMarker_RemoveMarker(marker.id);
        url = "{{url_for('view_inc', incident_id='-999')}}"
        url = url.replace("-999", marker.param.incident_id.toString())
        window.location.href = url;
    });



    item.on("zoom_marker_mouse_click", function(event, position) {
        // Do nothing
    });
    /*
    // listen to marker click event, print to console and delete the marker
    item.on("zoom_marker_click", function(event, marker){
        console.log(JSON.stringify(marker));
        console.log("marker was clicked")
        //$('#zoom-marker-img').zoomMarker_RemoveMarker(marker.id);
    });
    */

    // message for the beginning of image loading process
    item.on("zoom_marker_img_load", function(event, src) {
        console.log("loading started for image : " + src);
    });

    // message for image loaded
    item.on("zoom_marker_img_loaded", function(event, size) {
        console.log("image has been loaded with size: " + JSON.stringify(size));
    });

    // message after at the end of Maker moving action
    item.on("zoom_marker_move_end", function(event, position) {
        console.log("Marker moving ended on :" + JSON.stringify(position));
    })
}

initImg($('#zoom-marker-img-alt'));

/******************** INIT ZoomMarker here *****************************/
$(document).ready(function() {

    markers = []

    $.getJSON($SCRIPT_ROOT + '/get_obs_json_list', {
        task_id: -1,
    }, function(data) {
        $.each(data.features, function(i, value) {
            // build markers
            var geom = value.geometry
            const marker = {
                src: icons[value.properties.sev],
                x: geom.coordinates[0],
                y: geom.coordinates[1],
                incident_id: value.properties.dbid,
                size: 25,
                dialog: {
                    "value": value.properties.info,
                    "offsetX": 20,
                    "style": {
                        "border-color": "#000000"
                    }
                }
            }
            markers.push(marker)
        }) // $.each
        console.log("Markers retrieved")
        plan_w = document.getElementById("zoom-marker-div").offsetWidth
        $('#zoom-marker-img-alt').zoomMarker({
            src: "{{ url_for('get_plan_image')}}",
            rate: 0.2,
            width: plan_w,
            max: 3000,
            markers: markers
        });

    })

})

/******************** INIT ZoomMarker here *****************************/
</script>
{% endblock %}